*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 65%;
}

header{
    height: 8rem;
    width: 100%;
    background-color: black;
}

header p{
    position: absolute;
    color: white;
    margin-left: 7rem;
    margin-top: 2rem;
    
}


header nav{
    display: flex;
}

header ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 5rem;
    height: 3rem;
    width: 100%;
    margin-left: 4rem;
    margin-right: 4rem;
    background-color: rgb(204, 180, 0);
    border-radius: 10px;
    /*padding-left: 2rem;*/
}
header ul li{
    margin-right: 2rem;
    margin-top: 1rem;
}
header ul li a{
    color:black;
    text-decoration: none;
}

header a:hover{
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-style:solid;
}
header a:visited{
    text-decoration-line: underline;
    color: black;
}

button a{
    text-decoration: none;
    margin-right: 1.1rem;
    margin-top: .5rem;   
}

button{
    display: flex;
    border: none;
    height: 2rem;
    width: 6rem;
    margin-top: 0.5rem;
    border-radius: 50px;
    justify-content: right;
}

.carre button{
    display: flex;
    position: absolute;
    margin-top: 16rem;
    margin-left: 17rem;
    height: 3.5rem;
    width: 12rem;
    padding-right: 2.7rem;
    padding-top: .7rem;
    border-radius: 10px;
    border: none;
    border: 2px solid rgb(252, 248, 23);   
}

.carre button a{
    color: rgb(0, 127, 191);
}

.carre{
    height: 34rem;
    width: 70%;
    display: flex;
    margin-left: 15%;
}
.carre p{
    margin-left: 2rem;
    font-size:30px;
    position: absolute;
    margin-left: 13rem;
    margin-top: 7rem;
    text-transform: uppercase;
    
}

.div{
    text-align: center;
    margin-top: 6rem;
}

footer .divi1{

    margin-top: 6rem;
}

footer{
    height: 15rem;
    width: 100%;
    background-color: black;
    margin-top: 10rem;
   
}

footer .logo{

margin-top: 4rem;
margin-left: 15rem;
}
footer .logo img{
    margin-left: 2rem;
    height: 40px;
    width: 40px;


}


.foot{
    margin-right: 14rem;
}

.foot .div1 p{
    text-transform: uppercase;
    margin-top: rem;
    margin-left: 7rem;
    font-weight: bold;
}

.foot .div2 p{
    margin-left: 7rem;
    margin-top: rem;
}

.foot .div3 p{
    margin-left: 7rem;
    margin-top: rem;
}
.foot .div4 p{
    margin-left: 7rem;
    margin-top: rem;
}

.foot .logo {
    display: flex;
}






.foot2{

    justify-content: center;
    margin-right: 15rem;

}

.foot2 .div1 p{
    text-transform: uppercase;
    margin-top: 1rem;
    margin-left: 7rem;
}

.foot2 .div2 p{
    margin-left: 7rem;
    margin-top: 3rem;
}

.foot2 .div3 p{
    margin-left: 7rem;
    margin-top: 5rem;
}
.foot2 .div4 p{
    margin-left: 7rem;
    margin-top: 7rem;
}



.foot3{
    display: flex;
    justify-content:flex-end;
    margin-right: 17rem;
    
}

.foot3 .div1 p{
    margin-top: 1rem;
    text-transform: uppercase;
}

.foot3 .div2 p{
    margin-left: rem;
    margin-top: 3rem;
}

.foot3 .div3 p{
    margin-left: rem;
    margin-top: 5rem;
}
.foot3 .div4 p{
    margin-left: rem;
    margin-top: 7rem;
}

.foot a{
    text-decoration: none;
    color: white;
}


.foot2 a{
    text-decoration: none;
    color: white;
}

.foot3 a{
    text-decoration: none;
    color: white;
}


.foot a:hover{
    text-decoration: none;
    color: red;
}


.foot2 a:hover{
    text-decoration: none;
    color: red;
}

.foot3 a:hover{
    text-decoration: none;
    color: red;
}


form{
    display: flex;
    justify-content: center;
    background-color: rgb(204, 180, 0);
    height: 34rem;
    width: 30rem;
    margin: 0% auto;
    margin-top: 10rem;
    box-shadow: 1px 1px 14px;
}

.blocform{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    width: 80%;
}

.blocform input{
    height: 2.5rem;
    padding-left: 0.5rem;
    border-radius: 5px;
    border: none;
    margin-top: 2px;
}

.blocform label{
    margin-top: 2rem;
}

h3{
    display: flex;
    position: absolute;
    margin-top: 2rem;
    margin-right: 8rem;

}

.flex{
    display: flex;
}
.ici{
    margin-left: 3rem;
}

.flex a{
    text-decoration: none;
    color: white;
}

.flex1{
    display: flex;
}
.flex1 p{
    margin-top: -4rem;
}

.ici1{
    margin-left: 7rem;
    margin-top: -rem;
}

.valider{
    width: 10rem;
    background-color: black;
    color:white   
}

.div input{
   margin-top: 3rem;
   border-radius: 15px;
}

input .valider{
   display: flex;
}




