*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 65%;
    background-color: beige;
}

header{
    height: 8rem;
    width: 100%;
    background-color: black;
}

header p{
    position: absolute;
    color: white;
    margin-left: 7rem;
    margin-top: 2rem;
    
}

.tre{
    margin-right: 10rem;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 30px;   
    }
    
header ul{
    display: flex;
    justify-content: center;
    list-style: none;
    height: 6rem;
    width: 100%;
    margin-right: 4rem;
    background-color: rgb(204, 180, 0);
    font-weight: bold;
}
header ul li{
    margin-right: 2rem;
    margin-top: 2.5rem;
}
header ul li a{
    color:black;
    text-decoration: none;
}

header a:hover{
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-style:solid;
}
header a:visited{
    text-decoration-line: underline;
    color: black;
}

button a{
    text-decoration: none;
    margin-right: 1.1rem;
    margin-top: .5rem;   
}

button{
    display: flex;
    border: none;
    height: 2rem;
    width: 6rem;
    margin-top: 0.5rem;
    border-radius: 50px;
    justify-content: right;

}

.carre button{
    display: flex;
    position: absolute;
    margin-top: 16rem;
    margin-left: 17rem;
    height: 3.5rem;
    width: 12rem;
    padding-right: 2.7rem;
    padding-top: .7rem;
    border-radius: 10px;
    border: none;
    border: 2px solid rgb(252, 248, 23);   
}

.carre button a{
    color: rgb(0, 127, 191);
}

.carre{
    height: 34rem;
    width: 70%;
    display: flex;
    margin-left: 15%;
}
.carre p{
    margin-left: 2rem;
    font-size:30px;
    position: absolute;
    margin-left: 13rem;
    margin-top: 7rem;
    text-transform: uppercase;
    
}

nav .pro1{
    display: flex;
    border: none;
    height: 2rem;
    width: 2rem;
    margin-top: 2.2rem;
    border-radius: 50px;
    justify-content: right;
}

nav img{
    border-radius: 50%;
}


.div{
    text-align: center;
}

footer{
    height:7rem;
    width: 100%;
    background-color: black;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    justify-content:space-around ;
}
footer .logo{

margin-top: -1rem;
}
footer .logo img{
    margin-left: 2rem;
    height: 40px;
    width: 40px;
    margin-top: 3rem;
}

.bank{
    color: white;
    margin-top: 3rem;
    margin-right: 1rem;
   
}

form{
    display: flex;
    justify-content: center;
    background-color: rgb(204, 180, 0);
    height: 30rem;
    width: 30rem;
    margin: 0% auto;
    margin-top: 10rem;
    box-shadow: 1px 1px 14px;
}

.blocform{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    width: 80%;
}

.blocform input{
    height: 2.5rem;
    padding-left: 0.5rem;
    border-radius: 5px;
    border: none;
    margin-top: 2px;
}

.blocform label{
    margin-top: 2rem;
}

h3{
    display: flex;
    position: absolute;
    margin-top: 2rem;
    margin-right: 15.5rem;

}

.flex{
    display: flex;
}
.ici{
    margin-left: 3rem;
}

.flex a{
    text-decoration: none;
    color: white;
}

.flex1{
    display: flex;
}
.flex1 p{
    margin-top: -4rem;
}

.ici1{
    margin-left: 7rem;
    margin-top: -rem;
}

#submit{
    width: 10rem;
    background-color: black;
    color:white ; 
    cursor: pointer;
    margin-top: 4.5rem;
}

.div input{
   margin-top: 3rem;
   border-radius: 15px;
}

input .valider{
   display: flex;
}

.blocform input{
    border:1px solid black;
}




